
@{
    ViewBag.Title = "Apple";
}

<h2>Danh Sách Nộp Phạt</h2>

<form action="/Home/Apple" method="post">
    Name <input type="text" name="name" value="" />
    Price <input type="text" name="name" Price="" />
    Format<input type="text" name="Fomat" value="" />
    <input type="submit" value="Save" />
</form>

